h1 {
  text-align: center;
}

.root-container {
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
}

.todo-form {
  display: block;
}

.todo-content {
  display: block;
  width: 100%;
}

.todo-content-header {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .root-container {
    flex-direction: column-reverse;
    padding: 0px 10px;
  }
}
